.card {
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;

    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
}

.card .title {
    padding: 5px 0px;
    text-align: center;
    color: black;
}

.card .content {
    text-align: center;
    background-color: gray;
    font-weight: 600;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    margin: 10px 10px;
    flex-grow: 1;
}